<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699038433397-0pbiv0hci0bgmccdajanm3daff4kgi1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699038433397-0pbiv0hci0bgmccdajanm3daff4kgi1g</string>
	<key>API_KEY</key>
	<string>AIzaSyD92fIsR0f-tyDpT75F58d0flkNFqWQccA</string>
	<key>GCM_SENDER_ID</key>
	<string>699038433397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>zakker-a</string>
	<key>STORAGE_BUCKET</key>
	<string>zakker-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699038433397:ios:ebed0e17d1d9d325cbb83c</string>
</dict>
</plist>